# Dependencies
node_modules/

# Build Output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright Reports
playwright-report/

# Environment Files
.env

# Ignore Package-lock-json
package-lock.json